<?php 
	include(NAVIGATION_PATH."/header.php");
?>
<div class="container">
  <?php include(NAVIGATION_PATH."/navbar.php");?>
  <?php include(NAVIGATION_PATH."/notification.php");?>
  <div class="content">
      <div class="gallery_tab">
        <button id="gallery_image">Photos</button>
        <button id="gallery_image">Videos</button>
        <button id="gallery_image">Audio</button>
      </div>
      <div class="gallary_grid" style="display:none;">
        <ul>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li><li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          
        </ul>
      </div>
      <div class="gallary_grid">
        <ul>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li><li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          
        </ul>
      </div>
      <div class="gallary_grid" style="display:none;">
        <ul>
          <li>
            <audio controls>
              <source src="horse.mp3" type="audio/mpeg">
            </audio>
            <span class="media_desc">Thousand suns</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <audio controls>
              <source src="horse.mp3" type="audio/mpeg">
            </audio>
            <span class="media_desc">Thousand suns</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <audio controls>
              <source src="horse.mp3" type="audio/mpeg">
            </audio>
            <span class="media_desc">Thousand suns</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <audio controls>
              <source src="horse.mp3" type="audio/mpeg">
            </audio>
            <span class="media_desc">Thousand suns</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <audio controls>
              <source src="horse.mp3" type="audio/mpeg">
            </audio>
            <span class="media_desc">Thousand suns</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <audio controls>
              <source src="horse.mp3" type="audio/mpeg">
            </audio>
            <span class="media_desc">Thousand suns</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <audio controls>
              <source src="horse.mp3" type="audio/mpeg">
            </audio>
            <span class="media_desc">Thousand suns</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <audio controls>
              <source src="horse.mp3" type="audio/mpeg">
            </audio>
            <span class="media_desc">Thousand suns</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <audio controls>
              <source src="horse.mp3" type="audio/mpeg">
            </audio>
            <span class="media_desc">Thousand suns</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          
        </ul>
      </div>
  </div>
</div>

<!-- POPUP Design -->
<div class="fade" style="display:none;"></div>
<div class="popup" style="display:none;">
  <a href="" class="close_popup">Close</a>
  <h3>Image / Video Title</h3>
  <iframe width="100%" height="70%"
    src="http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1">
  </iframe>
  <article>This is a test description This is a test description This is a test description </article>
  <span class="datetime">Mar 29, 2015 5.00 pm</span>
</div>
<?php 
	include(NAVIGATION_PATH."/footer.php");
?>
