<?php 
	include(NAVIGATION_PATH."/header.php");
?>
<div class="container">
  <?php include(NAVIGATION_PATH."/navbar.php");?>
  <?php include(NAVIGATION_PATH."/notification.php");?>
  <div class="content">
      <div class="gallery_tab">
        <button id="gallery_image">Photos</button>
        <button id="gallery_image">Videos</button>
      </div>
      <div class="gallary_grid" style="display:none;">
        <ul>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li><li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Image title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          
        </ul>
      </div>
          <div class="gallary_grid">
        <ul>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li><li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
            <span class="media_desc">Video title</span>
            <span class="media_date">Mar 19,2015</span>
          </li>
          
        </ul>
      </div>
  </div>
</div>
<?php 
	include(NAVIGATION_PATH."/footer.php");
?>
