<?php 
	include_once(NAVIGATION_PATH."/header.php");
?>
  <div class="login_box">
    <form id="form_sign_up" method="POST" action="<?php echo FOLDER_PATH_HTTP;?>">
      <ul>
        <li>
          <h3>Change Password</h3>
        </li>
        <li>
          <label><strong class="red">*</strong> Old Password:</label>
          <input type="password" class="inputfield" value="" name="password" id="password">
        </li>
        <li>
          <label><strong class="red">*</strong> New Password:</label>
          <input type="password" class="inputfield" value="" name="password" id="password">
        </li>
        <li>
          <label><strong class="red">*</strong> Re-enter Password:</label>
          <input type="password" class="inputfield" value="" name="password" id="password">
        </li>
      <li class="login_button">
        <button type="submit" class="inputbutton" name="submit" id="submit">Update Password</button>
        <a class="app_link" href="<?php echo FOLDER_PATH_HTTP;?>">Back</a>
      </li>
      </ul>
    </form>
  </div>
<?php 
	include(NAVIGATION_PATH."/footer.php");
?>