<?php 
	include(NAVIGATION_PATH."/header.php");
?>
<div class="container">
  <?php include(NAVIGATION_PATH."/navbar.php");?>
  <?php include(NAVIGATION_PATH."/notification.php");?>
  <div class="content">
      <ul class="update_status">
        <li>
          <div class="user_data">
            <a href=""><img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg"  width="50" height="50"/></a>
            <a href=""><strong>Christian Bale</strong></a>
            <span class="post_time">Mar 20, 2015 3:00 pm</span>
            <span class="action_icon">
              <a href=""><i class="icon-edit-status"></i></a>
              <a href=""><i class="icon-delete"></i></a>
            </span>
          </div>
          <div class="post_data">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                It was popularised in the 1960s with the release of Letraset sheets containing 
                Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of 
                Lorem Ipsum.
            </p>
          </div>
        </li>
      </ul>
  </div>
</div>
<?php 
	include(NAVIGATION_PATH."/footer.php");
?>
