<?php 
	include(NAVIGATION_PATH."/header.php");
?>
<div class="container">
  <?php include(NAVIGATION_PATH."/navbar.php");?>
  <?php include(NAVIGATION_PATH."/notification.php");?>
  <div class="content">
    <div class="profile">
      <div class="profile_detail">
        <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="150" height="150"/>
        <ul>
          <li><span>Bruce Wayn</span></li>
          <li><label>Worked at:</label> Wayn Manner</li>
          <li><label>City:</label> Gotham</li>
          <li><label>Friends:</label> 20</li>
          <li><label>Mutual Friends:</label> 5</li>
          <li><label>Gallery:</label> 15</li>
        </ul>        
      </div>
      <div class="profile_status">
      <h3>Updated Status</h3>
      <ul class="update_status">
        <li>
          <div class="post_data">
            <b class="post_time">Mar 20, 2015 3:00 pm</b>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                It was popularised in the 1960s with the release of Letraset sheets containing 
                Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of 
                Lorem Ipsum.
            </p>            
          </div>
        </li>
        <li>
          <div class="post_data">
            <b class="post_time">Mar 20, 2015 3:00 pm</b>
            <div class="image_container">              
              <img src="<?php echo POST_IMAGE_HTTP;?>1.jpg" alt="Some Image" />
            </div>
            <span class="image_desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</span>            
          </div>
        </li>
        <li>
          <div class="post_data">
            <b class="post_time">Mar 20, 2015 3:00 pm</b>
            <div class="image_container">              
              <video height="350" width="100%" controls>
                <source src="<?php echo POST_IMAGE_HTTP;?>small.mp4" type="video/mp4">
              </video>
            </div>
            <span class="image_desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</span>            
          </div>
        </li>
         
        <li>
          <div class="post_data">
            <b class="post_time">Mar 20, 2015 3:00 pm</b>
            <div class="image_container">              
              <iframe width="100%" height="350" src="http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1"></iframe>
            </div>
            <span class="image_desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</span>            
          </div>
        </li>
        
      </ul>
      </div>
      <div class="profile_friends">
        <h3>Friends</h3>
        <ul>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="80" height="80"/>
            <a href="">Bruce Wayn</a>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="80" height="80"/>
            <a href="">Bruce Wayn</a>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="80" height="80"/>
            <a href="">Bruce Wayn</a>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="80" height="80"/>
            <a href="">Bruce Wayn</a>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="80" height="80"/>
            <a href="">Bruce Wayn</a>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="80" height="80"/>
            <a href="">Bruce Wayn</a>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="80" height="80"/>
            <a href="">Bruce Wayn</a>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="80" height="80"/>
            <a href="">Bruce Wayn</a>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="80" height="80"/>
            <a href="">Bruce Wayn</a>
          </li>
          
        </ul>
      </div>
      <div class="profile_image">
        <h3>Photos (9 | All)</h3>
        <ul>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="80" height="80"/>
            <a href="">Image title</a>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="80" height="80"/>
            <a href="">Image title</a>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="80" height="80"/>
            <a href="">Image title</a>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="80" height="80"/>
            <a href="">Image title</a>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="80" height="80"/>
            <a href="">Image title</a>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="80" height="80"/>
            <a href="">Image title</a>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="80" height="80"/>
            <a href="">Image title</a>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="80" height="80"/>
            <a href="">Image title</a>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="80" height="80"/>
            <a href="">Image title</a>
          </li>
        </ul>
      </div>
      <div class="profile_image">
        <h3>Videos (9 | All)</h3>
        <ul>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="80" height="80"/>
            <a href="">Video title</a>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="80" height="80"/>
            <a href="">Video title</a>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="80" height="80"/>
            <a href="">Video title</a>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="80" height="80"/>
            <a href="">Video title</a>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="80" height="80"/>
            <a href="">Video title</a>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="80" height="80"/>
            <a href="">Video title</a>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="80" height="80"/>
            <a href="">Video title</a>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="80" height="80"/>
            <a href="">Video title</a>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="80" height="80"/>
            <a href="">Video title</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<?php 
	include(NAVIGATION_PATH."/footer.php");
?>
